

/* SVG ANIMATION */

/* @keyframes dash {
  0% {
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
  }

  97% {
    stroke-dasharray: 20px;
  }

  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  } */


fonts {
  font-family: "Cinzel", serif;
  font-family: "Montaga", serif;
  font-family: "Montserrat Subrayada", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Questrial", sans-serif;
}

/* COMMON */

html,
body,
div,
span,
article,
aside,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
nav {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Questrial, sans-serif;
}

nav,
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/* CLASSES */

.opacity-0 {
  opacity: 0;
}

/* NAV */
/* mob */

@media only screen and (max-width: 1024px) {
  .navigation {
    font-size: 1.3rem;
    width: 100%; /*calc(100% - 20px);*/
    height: 6vh;
    z-index: 100;
    cursor: default;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    box-shadow: #4b4b4b 0 0 10px;
  }

  .navigation .navigation-wrapper {
    height: 0;
  }

  .navigation-item a {
    color: white;
    font-size: 1.3em;
  }

  .navigation img {
    box-shadow: none;
  }
  
  #top-nav{
    height: 6vh;
    z-index: 100;
  }

  #burger-menu {
    width: 4vh;
    height: 4vh;
    position: fixed;
    left: 4vh;
    top: 0.7vh;
  }

  .burger-line {
    width: 5vh;
    height: 0.6vh;
    background-color: #1d1d1d;
    margin: 0.7vh 0;
    border-radius: 1px;
  }

  .nav-logo-svg {
    height: 4vh;
    padding-top: 0.3vh;
  }
  

  .navigation-logo {
    position: fixed;
    top: 0.5vh;
    right: 4vw;
  }

  #logo-pic {
    width: 15vw;
  }

  #home-link span {
    vertical-align: super;
    font-size: 1.2em;
    color: #1d1d1d;
    padding-left: 0.2em;
  }

  .navigation-items-wrapper {
    width: 100vw;
    height: 94vh;
    transform: translateY(-100vh);
    z-index: 0;
    opacity: 0.9;
  }

  .navigation-items-wrapper {
    background-color: #1d1d1d;
  }

  .navigation-items {
    padding: 8vh 20vw;
    text-align: center;
  }

  .logo-white-dropdown {
    width: 60%;
  }

  .navigation-items h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 4% 0 10% 0;
    border-bottom: 1px white solid;
  }

  .navigation-item {
    padding: 3vh 0;
  }

}

/* NAVIGATION */
/* DESKTOP */

@media only screen and (min-width: 1025px) {
  #burger-menu {
    display: none;
  }

  .navigation-sticky {
    background-color: white;
    box-shadow: #4b4b4b 0 0 10px;
    position: fixed;
    width: 100vw;
    z-index: 100;
    height: 8vh;
    top: 0;
  }

  
  #logo-pic {
    height: 7vh;
    margin: 1vh 0 0 5vw;
  }

  .navigation-wrapper {
    display: inline-block;
  }

  .navigation-items-wrapper {
    position: fixed;
    top: 0;
    right: 5%;
  }
  
  
  .navigation-logo #home-link {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 30vw;
    height: 6vh;
    padding: 1.5vh 0 0.5vh 7vw;
  }
  
  #home-link svg {
    max-height: 90%;
  }
  
  #home-link span {
    font-size: 4vh;
    padding: 7px 0 0 10px;
    color: #1d1d1d;
  }
  
  .logo-white-dropdown, #h1-dropdown {
    display: none;
  }


  .navigation-item {
    display: inline-block;
    padding: 3vh 3.5vw 2vh 3vw;
    font-size: 3vh;
    color: black;
  }
  
  .home-link{
    display: none;
  }

  .navigation-item a {
    color: #1d1d1d;
  }

  .navigation-item a:hover {
    color: rgb(110, 180, 197);
  } 
}

/* FRONT PAGE */
/* FRONT PAGE */
/* FRONT PAGE */
/* FRONT PAGE */
/* FRONT PAGE */
/* FRONT PAGE */


/* BLACK SQUARE */
/* MOBILE */


#opening-screen{
  display: none;
}

.black-square {
  width: 94vw;
  height: 30vh;
  margin: 6vh 0 3vh 0;
  
  background-color: rgba(29, 29, 29, 0.88);
  border: 3vw solid white;
  color: white;
  text-align: center;
}

.logo-white-square {
  width: 36%;
  padding: 3.8vh 0 1vh 0;
}

.black-square h1 {
  padding: 1% 0 2% 0;
}

.div-pics {
  width: 100vw;
  height: 35vh;
  
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  
  color:white;
  margin: 1vh 0;
  line-height: 30vh;
}

.wl {
  display: none;
}

#home-about{
  z-index: 8;
}

#home-projects {
  z-index: 7;
}

#home-parts {
  z-index: 6;
}

#home-contacts{
  z-index: 5;
  margin-bottom: 0;
}

.div-desc {
  width: 100vw;
  height: 35vh;
  
  position: absolute;
  top: 0;
  left: 90vw;
  
  z-index: 10;
  background-color: rgba(29, 29, 29, 0.3);
}

.div-title {
  position: absolute;
  left: -90vw;
  width: inherit;
  line-height: 35vh;
  text-align: center;
  /* background-color: rgba(29,29,29,0.25); */
  font-size: 2.4em;
}

.div-text {
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
  /* padding: 0 10vw 0 12vw; */
}





.div-link {
  position: absolute;
  bottom: 3vh;
  left: 12vw;
  
  line-height: 1;
  font-size: 1.5em;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.div-link a{
  color: white;
}

#home-about {
  background-image: url(../hdr-all/hdr-pamporovo-3.jpg);
}

#home-projects {
  background-image: url(../hdr-all/hdr-portrait-9.jpg);
}

#home-parts {
  background-image: url(../hdr-all/hdr-shumen-15.jpg);
}

#home-contacts {
  background-image: url(../hdr-all/hdr-portrait-1.jpg);
}

@media only screen and (max-width: 1024px){
  .div-desc{
    width: 200vw;
    left: 0;
    /* background-color: rgba(139, 0, 139, 0.377); */
  }
  
  .div-title {
    width: 100vw;
    left: 0;
  }
  
  .div-arrow-o {
    position: absolute;
    width: 12vw;
    height: 35vh;
    top: 0;
    left: 88vw;
    background-image: url(../icons/arrow-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(29, 29, 29, 0.45);
    /* z-index: 10; */
  }
  
  .div-arrow-c {
    position: absolute;
    width: 12vw;
    height: 35vh;
    top: 0;
    left: 100vw;
    transform: rotate(180deg);
    background-image: url(../icons/arrow-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(29, 29, 29, 0.4);
    /* z-index: 10; */
  }
  
  .div-text{
    position: absolute;
    width: 88vw;
    height: 25vh;
    top: 0;
    left: 112vw;
    background-color: rgba(29, 29, 29, 0.4);
  }
  
  .div-text p {
    width: fit-content;
    padding: 3vh 7vw 0 1vw;
    font-size: 2.2vh;
  }
  
  .div-link{
    width: 88vw;
    height: 10vh;
    bottom: 0;
    left: 112vw;
    font-size: 3.6vh;
    text-align: left;
    background-color: rgba(29, 29, 29, 0.4);
  }
  
  .div-link a{
    line-height: 10vh;
  padding-left: 1vw; 
  }
}

/* HOME PAGE */
/* DESKTOP */

@media only screen and (min-width: 1025px){
  
  #opening-screen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    top: 0;
    left: 0;
    
    display: initial;
    z-index: 1000;
    background-color: white;
  }
  
  
  .black-square{
    width: 25vw;
    height: 21vh;
    
    left: 50vw;
    top: 46vh;
    position: absolute;
    margin: -3.2vh 0 0 -12.8vw;
    display: block;
    
    border: 0.7vh solid white;
    z-index: 20;
  }
  
  .black-square svg {
    height: 7vh;
    padding: 2.4vh 0 1vh 0;
  }
  
  .black-square h1 {
    font-size: 3.7vh;
    padding: 1vh;
  }
  
  .black-square h3 {
    font-size: 2.3vh;
  }
  
  #main-grid-home{
    width: 100vw;
    height: 92vh;
    
    margin-top: 8vh;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .div-pics{
    width: 50vw;
    height: 46vh;
    margin: 0;
  }
  
  .wl {
    display: inherit;
    z-index: 19;
    position: absolute;
    background-color: white;
  }
  
  #wl-left {
    width: 37.5vw;
    height: 0.7vh;
    
    top: 54vh;
    left: 0;
  }
  
  #wl-right {
    width: 37.5vw;
    height: 0.7vh;
    
    top: 54vh;
    right: 0;
  }
  
  #wl-top {
    width: 0.7vh;
    height: 35vh;
    top: 8vh;
    left: 50vw;
  }
  
  #wl-bottom {
    width: 0.7vh;
    height: 35vh;
    
    bottom: 0;
    right: 50vw;
  }
  
  .div-title {
    position: initial;
    width: fit-content;
    display: block;
    float: left;
    margin: 35vh 0 0 7vw;
        
    font-size: 4vh;
    display: block;
    line-height: normal;
    background-color: transparent;
  }
  
  .div-right .div-desc h1{
    float: right;
    margin: 35vh 7vw 0 0;
  }
  
  .div-desc {
    width: 50vw;
    height: 92vh;
    top: 0vh;
    left: 0;
    
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,1d1d1d+99&0+0,0.1+23,0.5+36,0.7+50 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(7,7,7,0.1) 23%, rgba(11,11,11,0.5) 36%, rgba(15,15,15,0.7) 50%, rgba(29,29,29,0.7) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(7,7,7,0.1) 23%,rgba(11,11,11,0.5) 36%,rgba(15,15,15,0.7) 50%,rgba(29,29,29,0.7) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(7,7,7,0.1) 23%,rgba(11,11,11,0.5) 36%,rgba(15,15,15,0.7) 50%,rgba(29,29,29,0.7) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b31d1d1d',GradientType=0 ); /* IE6-9 */
  }
  
  .div-text{
    vertical-align: unset;
    margin: 15vh 0;
  }
  
  .dl p{
    padding: 0 15vw 0 8vw;
  }
  
  .dr p{
    padding: 0 8vw 0 15vw;
    text-align: right;
  }
  
  .dl li{
    left: 8vw;
    bottom: 7vh;
  }
  
  .dr li{
    left: auto;
    right: 8vw;
    bottom: 7vh;
  }
  
  .div-arrow-o, .div-arrow-c {
    display: none;
}
}


/* ALL PROJECTS */
/* ALL PROJECTS */
/* ALL PROJECTS */
/* ALL PROJECTS */
/* ALL PROJECTS */
/* ALL PROJECTS */

/* MOBILE */

main {
  margin-top: 6vh;
}

.page-title{
  width: 100%;
  
  display: block;
  margin: auto;
  padding: 10vh 0 5vh 0;
  text-align: center;
  font-size: 2em;
}

.proj-texts p {
  width: 75%;
  display: block;
}

.proj-texts .p1 {
  margin: 4vh 8%;
}

.proj-texts .p2 {
  margin: 3vh 21%;
}


.project{
  width: 100vw;
  height: 35vh;
  
  position: relative;
  margin: 5vh 0;
  overflow: hidden;
  box-shadow: #4b4b4b 0 0 10px;
}

.ft-img {
  width: 100vw;
  height: 35vh;
  
  top: 0;
  left: 0;
  
  position: absolute;
  z-index: -1;
}

.bg-gradient{
  width: 100vw;
  height: 35vh;
  
  top: 41%;
  left: 0;
  
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+9,0.5+29,0.6+64,0.7+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 9%, rgba(0,0,0,0.5) 29%, rgba(0,0,0,0.6) 64%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 9%,rgba(0,0,0,0.5) 29%,rgba(0,0,0,0.6) 64%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 9%,rgba(0,0,0,0.5) 29%,rgba(0,0,0,0.6) 64%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */

 color: white;
  text-align: center;
}

.bg-gradient h1 {
  font-size: 1.2em;
  max-height: 9vh;
  margin: 2vh auto 1.4vh auto;
}

.readmore-m {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  max-width:60%;
  text-align: right;
}

#desc-arrow-div{
  margin: 0.5vh auto;  
}

.up-down-arr{
  width: 80%;
  height: 3vh;
  margin-left: 10vw; /* since all div have max-width 80%*/
  position: relative;
}

.desc-arr-proj{
  width: 100%;
  height: inherit;
  background-image: url(../icons/arrow-up.png); /* change with top one*/
  background-repeat: no-repeat;
  background-position: center;
}

.desc-arr-proj-down {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  
  display: none;
}

.bg-gradient > div, .bg-gradient > h1, .bg-gradient > li  {
  max-width: 80%;
  display: block;
}

.date-loc {
  font-size: 1.1em;
  color: snow;
  margin: 0 auto 1.5vh auto;
}

.excerpt-short {
  text-align: left;
  margin: 1vh auto;
}



.bg-gradient li {
  margin: 1vh auto 4vh auto;
}

@media only screen and (max-width: 750px){
  .excerpt-long, .catch-hover{
    display: none !important ;
  }
  
  
}



/* PROJECTS */
/* DESKTOP */

@media only screen and (min-width: 750px){
  
  
  .proj-texts{
    width: 80%;
    margin: 8vh 0 0 0;
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .page-title{
    grid-column-start: 1;
    grid-column-end: -1;
  }
  
  .text-left p  {
    font-size: 0.9em;
    /* width: 60%; */
  }
  
  .text-left .p1 {
    /* margin: 5vh 0 5vh 10%; */
  }
  
  .text-left .p2 {
    /* margin: 5vh 0 5vh 35%; */
  }

.gallery-proj{
  width: 100vw;
}
  
  #projlist{
    width: 80%;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(16em,1fr));
    grid-column-gap: 5vw;
    grid-row-gap: 10vw;
    overflow: hidden; 
  }
  
  .project{
    width: 100%;
    height: initial;
    margin: 0;
    box-shadow:  grey 0 0 70px;
  }
  
  .catch-hover {
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    
    position: absolute;
  }
  
  
  .ft-img{
    width: 100%;
    height: 100%;
    max-height: 25vh;
    position: initial;
  }
  
  .bg-gradient{
    width: 100%;
    position: initial;
    display: initial;
    background: none;
    color: #1d1d1d;
  }
  
  .up-down-arr, .excerpt-short, .link-m{
    display: none !important;
  }
  
  .bg-gradient h1{
    font-size: 1.2em;
    margin: 6% 10% 4% 10%;
  }
  
  .date-loc {
    font-size: 0.9em;
    margin: 0 10%;
  }
  
  .excerpt-long {
    font-size: 0.8em;
    margin: 5% 10% 15% 10%;
    text-align: left;
  }
  
  
  .readmore-d, .date-loc{
    color: #1d1d1d;
  }
  
  .link-d {
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 5%;
    left: 50%;
  }
  
  .readmore-d {
    width: fit-content;
    font-size: 0.9em;
    position: relative;
    padding: 3% 0
  }
}


/* PROJECT SINGLE */
/* PROJECT SINGLE */
/* PROJECT SINGLE */
/* PROJECT SINGLE */
/* PROJECT SINGLE */
/* PROJECT SINGLE */

.img-cont {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background-color: #fff;
}

.main-img img, 
.imgs img {
  width: 100%;
  height: auto;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}